pytesseract==0.3.10        # OCR (требует Tesseract установленный отдельно)
opencv-python==4.10.0.84   # Обработка изображений
Pillow==10.4.0             # Работа с изображениями
numpy==1.26.4              # Численные вычисления
pyspellchecker==0.8.4      # Проверка орфографии
textdistance==4.6.1        # Расстояние между текстами